* {
    /*border: 2px solid red; */
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Top half */
header {
    border: 2px solid red;
    color: white;
    height: auto;
    background: #151c29;
    margin: 0;
}

.logo-header {
    padding: 10px 80px;
    display: flex;
    align-items: center;
}

.hat {
    height: 62px;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Lower half */
.content-header {
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: flex-start;
}

.header-text h1,
.header-text p {
    padding-left: 7px;
}

.header-text>h1 {
    font-size: 40px;
}

button {
    border: none;
    color: white;
    padding: 20px 40px 20px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0s;
    cursor: pointer;
}

.hello {
    background-color: white;
    color: black;
}

.hello:hover {
    background-color: #755c24;
    color: white;
}

article {
    background: white;
}

.quote {
    background: #3c5075;
}