@font-face {
    font-family: MessinaSans;
    src: url(./fonts/MessinaSans-Light.woff);
 }
 
 @font-face {
    font-family: MessinaSans;   
    src: url(./fonts/MessinaSans-Bold.woff);
    font-weight: bold;
 }

 @font-face {
    font-family: MessinaSans;   
    src: url(./fonts/MessinaSans-LightItalic.woff);
    font-style: italic;
 }

* {
    /* border: 2px solid red; */
    font-family: MessinaSans, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* Top half */
header {
    color: white;
    height: auto;
    width: auto;
    background: #151c29;
}

.logo-header {   
    padding: 10px 80px;
    display: flex;
    align-items: center;
}

.hat {
    height: 62px;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* Lower half */
.content-header {

    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.header-text h1,
.header-text p {
    padding: 0;
    margin: 0;
}

.header-text > h1 {
    font-weight: bold;
    font-size: 40px;
}

button {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0s;
    cursor: pointer;
}

.hello {
    border: 1px solid white;
    background-color: #6384C2;
    color: black;
}

.hello:hover {
    background-color: white;
    color: black;
}

/* Cards */

.info {
    background: white;
    text-align: center;
    padding: 50px 0;
}

.info > p {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 180px;  
}

.card {
    max-width: 200px;
}

.card-img {
    border: 2px solid #6384C2;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

/* Quote */
.quote {
    background: #a8abad;
    padding: 100px;
    font-size: 23px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 600px;
}

.quote p {
    margin: 0;
    margin-bottom: 10px;
}

.quote-container .message {
    font-style: italic;
}

.quote-container .bold {
    font-weight: bold;
    color: #151c29;
}

/* Call of action */

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    color: white;
}

.action {
    border-radius: 8px;
    background-color: #6384C2;
    width: 800px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; 
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-text h1 {
    margin: 0px;
}

.purchase {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #6384C2;
    color: black;
}

.purchase:hover {
    background-color: white;
    color: black;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151c29;
    color: white;
    padding: 50px;
}

