* {
    /*
    border: 2px solid red; */
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    background-color: gray;
    color: white;
}

img {
    border: 2px solid red;
}

.logo-header {
    border: 2px solid red;
    padding: 10px;
    display: flex;
    align-items: center;
}

.hat {
    height: 62px;  
}

.links {
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}


a { 
    text-decoration: none;
    color: white;
    
}

a:hover {
    text-decoration:underline;
}

ul {
    border: 2px solid red;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
